/*Color Palette
 * 
 * 
 */

h1 {
    font-family: "Cabin Sketch", sans-serif;
    color: black;
    background-color: gray;
    margin-top: 25px;
    display: inline;
}

#topper {
    background-image: url(sami_skier.jpg);
    background-size: cover;
    background-position: 25% 25%;
    margin-bottom: 25px;
}
h2 {
    margin-top: 600px;
    text-align: right;
}
h3 {
    text-align: right;
}
p {
    font-size: 25px;
    font-family: "Merriwether," sans serif;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}
#appas{
    width: 700px;
    margin-left: 25px;
}
#appastext {
    font-family: "Cabin Sketch", sans-serif;
    text-align: center;
    margin-right: 100px;
    font-size: 50px;
}
#sapmi {
    align-content: center;
    justify-content: center;
    margin-left: 100px;
}
#sapmitext {
    font-family: "Cabin Sketch", sans-serif;
    text-align: center;
    margin-right: 100px;
    font-size: 50px;
}
h6 {
    text-align: center;
    font-family: "Merriwether," sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-right: 30px;
    border-top: solid;
    border-bottom: solid;
    border-width: thick;
}
h4 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    font-family: "Merriwether," sans-serif;
    text-decoration: underline;
    font-size: 40px;
}
#reindeer {
    background-image: url(reindeer.2.avif);
    text-align: center;
    justify-content: center; /* Horizontal center */
    align-items: center;
    font-style: italic;
    font-size: 40px;
    font-family: "Merriwether," sans-serif;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
    padding-bottom: 500px;
}
#removal {
    background-image: url(sierras.webp);
    text-align: center;
    justify-content: center; /* Horizontal center */
    align-items: center;
    font-style: italic;
    font-size: 40px;
    font-family: "Merriwether," sans-serif;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
    padding-bottom: 250px;
}
#disclaimer {
    font-size: small;
    text-align: left;
    font-style: italic;
}
#Larry {
    text-align: center;
    font-family: "Merriwether," sans-serif;
    font-style: italic;
}

@media (min-width: 576px) {
    h1 {
        font-size: 80px;
    }
}
