/* #82FF9E
 * #0C8346
 * #311E10
 * #44CCFF
 * #FFC145 */

@media {
    h1 {
        color: white;
        font-family: poppins;
        font-weight: bold;
        background-color: #0c8346;
        border-style: solid;
        border-color: white;
        margin: 10px;
        border-radius: 10px;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 10px;
    }
    h2 {
        font-family: poppins;
        background-color: #0c8346;
        border-style: solid;
        color: white;
        border-radius: 10px;
        text-align: center;
        margin-top: 50px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        margin-left: 50px;
        margin-bottom: 100px;
    }
    img {
        width: 100%;
    }
    #Button {
        background-color: darkseagreen;
        color: #311e10;
        font-family: "Merriweather", serif;
        font-style: italic;
        font-weight: bold;
        font-size: 60px;
        width: 400px;
        padding: 10px;
        margin-top: 150px;
        border: none;
        border-radius: 15px; /* Rounded corners */
        text-align: center;
        margin-left: 240px;
    }
    #Button:hover {
        background-color: #44ccff;
    }
    body {
        background-color: #ffc61a;
    }
    #headshot {
        border: solid, 3px;
        margin-top: 50px;
        margin-left: 150px;
    }
    img {
        width: 200px;
    }
    #navigation {
        width: 80%;
        max-width: 1200px;
        margin: 50px auto;
        font-family: Poppins, sans-serif;
        text-align: center;
        background-color: darkseagreen;
        padding: 10px 20px;
        border-radius: 10px;
    }
    @media (min-width: 576px) {
        h1 {
            font-size: 100px;
            margin: 50px 0px 0px 50px;
        }
        img {
            width: 60%;
            height: 80%;
        }
    }
}
#Experience h4 {
    color: black;
    text-decoration: underline;
    font-family: times new roman;
}
#Exptitle {
    background-color: darkseagreen;
    color: antiquewhite;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
#Expplace {
    background-color: darkseagreen;
    color: antiquewhite;
    font-weight: bold;
    text-align: center;
}
#Years {
    background-color: darkseagreen;
    color: antiquewhite;
    font-weight: bold;
    text-align: center;
}
#Expdescription {
    font-family: times new roman;
    border-color: darkseagreen;
}
#StaffWriter {
    background-color: darkseagreen;
    color: antiquewhite;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    padding: 3px;
}
#TheDiamondback {
    background-color: darkseagreen;
    color: antiquewhite;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}
#Present {
    background-color: darkseagreen;
    color: antiquewhite;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}
#DBKDesc {
    font-family: times new roman;
}
#SkillsTitle {
    color: black;
    text-decoration: underline;
    font-family: times new roman;
    text-align: center;
}
#EducationTitle {
    color: black;
    text-decoration: underline;
    font-family: times new roman;
    text-align: center;
}
#DBKPic {
    width: 250px;
    height: 110px;
    margin-left: 50px;
    border: solid, 3px;
}
#SLAOPic {
    width: 250px;
    height: 110px;
    margin-left: 50px;
    border: solid, 3px;
}
#TerpLogo {
    width: 200px;
    height: 150px;
    align-content: center;
}
#SkillP {
    background-color: darkseagreen;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: white;
    font-size: 30px;
    text-align: center;
}
#SkillPTwo {
    background-color: darkseagreen;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: white;
    font-size: 30px;
    text-align: center;
}
#SkillPThree {
    background-color: darkseagreen;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: white;
    font-size: 30px;
    text-align: center;
}
#EducationTitleOne {
    background-color: darkseagreen;
    font-family:
        times new roman,
        sans serif;
    padding: 3px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
#EducationTitleTwo {
    background-color: darkseagreen;
    font-family:
        times new roman,
        sans serif;
    padding: 3px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
#UMD {
    background-color: darkseagreen;
    padding: 3px;
    font-family:
        times new roman,
        sans serif;
    color: white;
    font-size: 30px;
    text-align: center;
}
#UMDL {
    background-color: darkseagreen;
    padding: 3px;
    font-family:
        times new roman,
        sans serif;
    color: white;
    font-size: 30px;
    text-align: center;
}
#Media {
    background-color: darkseagreen;
    padding: 3px;
    font-family:
        times new roman,
        sans serif;
    color: white;
    font-size: 30px;
    text-align: center;
}
#MediaL {
    background-color: darkseagreen;
    padding: 3px;
    font-family:
        times new roman,
        sans serif;
    color: white;
    font-size: 30px;
    text-align: center;
}
#Anticipated {
    font-family:
        times new roman,
        san serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
#Spring {
    font-family:
        times new roman,
        sans serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
#Education {
    border: 3px, solid;
}
#Skills {
    border: 3px, solid;
    margin-bottom: 6px;
}
#Experience {
    border: 3px, solid;
    margin-bottom: 6px;
}
